
.text{
	color: #ffffff;
	padding: 70px 0px;
	background: #02323F;
	font: 16px "public-sans",sans-serif;
	
}
ul
{
	padding: 0px;
	margin: 0px;
}
.text15 ul li {
background:white;
width: 120px;
height: 30px;
line-height:30px;
float: right;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 80px;
}
ul li a{
	color:chocolate;
	text-decoration: none;
	font: 16px "public-sans",sans-serif;
}
.cust_tel_class {
    color: #ee7e1a;
    font-size: 18px;
        margin-top: 3px;
    font-weight: 600;
    text-shadow: 1px 1px #d2d2d2;
    color: #EE7E14;
    font: 18px Roboto;
    font-family: sans-serif;
    margin: 3px 0px 0px;
    padding: 3.6px 10px;
    margin-left: 360px;
}
.text-span{
	margin-left: 360px;
}
h1
{
	color: #ffffff;
	font: 50px "public-sans",sans-serif;
	margin-left: 40px;
}
.footer-background-color pt-120
{
	color: #565769;
	background: #F9F9F9;
	padding: 120px 0px 0px;
	font: 16px "public-sans",sans-serif;

}
.contact-form-text-center
{
color: #565969;
padding: 29px 40px 40px;
}
h3{
	color: #EE7E1A;
	font: 16px yantramanav,sans-serif;
	margin: 0px 0px 19px;
	padding: 0px 19px;
	padding-top: 70px;
	border-radius: 7px;
	border: 2px solid;
	border-width: 20px;

}
h2{
	color:#064A75;
	font: 40px yantramanav,sans-serif;
	margin-left: 70px;

}
.text1{
	color: #565969;
	font: 16px "public-sans",sans-serif;
	margin: 17px 0px;
	margin-left: 70px;
}
.btn{
	
	color: #ffffff;
	background:#EE7E1A ;
	padding: 10px 30px;
	font: 20px yantramanav,sans-serif;
	border: 1px solid;

}
ul li :hover
{
color:darkgreen;
}
ul li ul li{
display: none;
}
ul li:hover ul li
{
display: block;
}
h5
{
	color: #565969;
	font: 16px "public-sans",sans-serif;
	padding: ;
	margin: 0px 0px 10px;
	margin-left: 0px;
	background:#f9f9f9;

}
.text7{
    color: #ffffff;
    background: #080C24;
    height: 450px;
    width: 60%;
    margin-left: 0px;
}
.text8
{
    color: #ffffff;
    margin:40px;
    padding: 20px;

text-align: left;
    padding:0px;
    font: 16px "public-sans",sans-serif;

}
.text9
{
    color: white;
    text-align: left;
    font: 50px public-sans,sans-serif;
    padding: 15px;

}

.text10{
color:#ffffff;
margin: 0px 5px;
font: 16px yantramanav,sans-serif;
padding: 10px;
}


.btn1
{

    border-radius: 8px;
    color: #ffffff;
    background: #EE7E1A;
    height: 45px;
    width:120px;
    line-height:45px;
    margin-left: 20px;
    
    border: none;
    
    
    cursor: pointer;
    margin-left: 80px;
}

}
p
{
color: #676767;
font: 16px "public-sans",sans-serif;
}
a{
    color: #676767;
    font: 16px "public-sans",sans-serif;
}
.icon 
{
    color: #FA4318;
    display: flex;
    position:relative;

}
.footer-area .footer-top .single-footer-top .icon:after {
    content: "";
    position: absolute;
    background: #fa4318;
    opacity: .3;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    left: -6px;
    top: -6px;
}
 .single-footer-top {
    display: flex;
    position: relative;
    margin-bottom: 33px;
    color: #565969;
    font: 16px "public-sans",sans-serif;
    margin: 0px 0px 33px;
}
div.icon
{
    color: #565969;
    font: 16px "public-sans",sans-serif;
    background: EE7E1A;

    margin: 6px 20px 0px 6px;
}
.text14 p {
    color:#676767 ;
    font: 16px "public-sans",sans-serif;
    margin: 0px 0px 30px;
}
.social-links a 
{
    color: #ffffff;
    background: #00395F;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 15px 15px 0;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5 ease;
    padding: 10px;
    margin-top: 40px;
    

    
}
.social-links a:hover
{
 color: #24262b;
 background: #EE7E1A; 

}
.widget
{
    color: black;
    font: 24px yantramanav,sans-serif;
    text-decoration: none;
    float: right;
    
    

}
.widget-title
{

